In [1]:
from namcouple import Namcouple, Link, LinkEndPoint, Grid, Transformation, reduce

In [2]:
nc = Namcouple(
    description="Test OASIS namcouple file",
    runtime=1000,
    links=[
        Link(
            description='Example exchange',
            dt=1200,
            source=LinkEndPoint(fields=['f1_a', 'f2_a'], grid=Grid(name='grd_a', type='grdtp', overlap=0)),
            target=LinkEndPoint(fields=['f1_o', 'f2_o'], grid=Grid(name='grd_o', type='grdtp', overlap=0)),
            transformations=[
                Transformation(name='t1', opts=['opt_11', 'opt_12']),
                Transformation(name='t2', opts=[]),
                Transformation(name='t3', opts=['opt_31']),
            ],
        ),
        Link(
            description='Second exchange',
            dt=3600,
            source=LinkEndPoint(fields=['f3_a', 'f4_a'], grid=Grid(name='grd_a', type='grdtp', overlap=0)),
            target=LinkEndPoint(fields=['f3_o', 'f4_o'], grid=Grid(name='grd_o', type='grdtp', overlap=0)),
            transformations=[
                Transformation(name='t1', opts=['opt_11', 'opt_12']),
                Transformation(name='t3', opts=['opt_31']),
            ],
        ),
    ]
)

print(nc.out)

# Test OASIS namcouple file

$NFIELDS
    2

$RUNTIME
    1000

$NLOGPRT
    1 0

$NNOREST
    False

$STRINGS

# Example exchange
 f1_a:f2_a f1_o:f2_o 1 1200 3 none EXPORTED
 grd_a grd_o
 grdtp 0 grdtp 0
 t1 t2 t3
  opt_11
  opt_12
  opt_31

# Second exchange
 f3_a:f4_a f3_o:f4_o 1 3600 2 none EXPORTED
 grd_a grd_o
 grdtp 0 grdtp 0
 t1 t3
  opt_11
  opt_12
  opt_31

In [3]:
print(reduce(nc).out)

# Reduced version of 'Test OASIS namcouple file'

$NFIELDS
    2

$RUNTIME
    1

$NLOGPRT
    1 0

$NNOREST
    False

$STRINGS

 VAR_00_S VAR_00_T 1 1 3 none EXPORTED
 grd_a grd_o
 grdtp 0 grdtp 0
 t1 t2 t3
  opt_11
  opt_12
  opt_31

 VAR_01_S VAR_01_T 1 1 2 none EXPORTED
 grd_a grd_o
 grdtp 0 grdtp 0
 t1 t3
  opt_11
  opt_12
  opt_31